<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HTMLinador</servlet-name>
        <servlet-class>josq.cms.web.backend.HTMLinador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginasServlet</servlet-name>
        <servlet-class>josq.cms.web.backend.PaginaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HTMLinador</servlet-name>
        <url-pattern>/pagina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginasServlet</servlet-name>
        <url-pattern>/paginas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
